body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: "Victor Mono", serif;
}

hr {
    background-color: black;
    border-top: 3px solid;
}

nav {
    height: 70px;
    position: relative;
}

.titre {
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.container {
    width: 70%;
    height: 100vh;
    margin: auto;
}

.card {
    padding-top: 100px;
    padding-bottom: 100px;
}

.info-card {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    gap: 2em
}

.image-content {
    width: 50%;
}

.image-content img {
    width: 90%;
    height: 70vh;
}

.text-content {
    width: 50%;
    max-height: 50%;
    display: grid;
    place-content: center;
}

.text-content h2 {
    font-size: 50px;
    font-weight: bolder;
}

.text-content p {
    font-size: large;
}

.bottom {
    display: flex;
    width: 100%;
}

.bottom-left {
    width: 50%;
}

.bottom-right {
    width: 50%;
    display: flex;
    margin: auto;
    place-content: space-between;
}

.bottom-right button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.btn-danger {
    background-color: #ff645f;
}

.btn-primary {
    background-color: #73ff5f;
}