<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>from madagascar.com</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
    <div>
        <nav>
            <h1 class="titre">From Madagascar.com</h1>
        </nav>
    </div>
    <hr>
    {% for produit in produits %}
        <div class="card">
            <div class="info-card">
                <div class="image-content">
                    <img src="{{ url_for('static', filename=produit.image) }}" alt="">
                </div>
                <div class="text-content">
                    <h2 class="titre-produit">{{ produit.name }}</h2>
                    <p> {{ produit.description }} </p>
                    <div class="bottom">
                        <div class="bottom-left">
                            <h3>Categorie: {{ categorie_dao.get_by_id(produit.id_categorie).name }}</h3>
                            <h3>Provenance: {{ provenance_dao.get_by_id(produit.id_provenance).name }}</h3>
                        </div>
                        <div class="bottom-right">
                            <form action="http://localhost:5000/effacer_produit/{{ produit.id }}" method="POST">
                                <button type="submit" class="btn-danger">Delete</button>
                            </form>
                            <form action="#update">
                                <button type="submit" class="btn-primary">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
</div>
</body>
</html>