<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>From Madagascar</title>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/style.css' ) }}">
</head>
<body>
{% include 'nav.html' %}
<div class="container center div-center">
    <h2 class="center blue-grey-text darken-3">Login as Admin</h2>
    <div class="row">
        <form class="col s12" action="/login" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" name="password">
                    <label for="password">Password</label>
                </div>
            </div>
            <button class="btn">Login</button>
        </form>
    </div>
</div>
</body>
</html>