<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interface Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
{% include 'nav.html' %}
<div class="container div-center">
    <h2 class="center blue-grey-text darken-3">Add new Product</h2>
    <form class="col s12" action="/ajouter_produit" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12">
                <input id="name" type="text" class="validate" name="name">
                <label for="name">Name</label>
            </div>
        </div>
        <div class="file-field input-field">
            <div class="btn btn-small">
                <span>Image</span>
                <input type="file" name="image">
            </div>
            <div class="file-path-wrapper">
                <input type="text" class="validate file-path" placeholder="update image from here">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="description" class="materialize-textarea" name="description"></textarea>
                <label for="description">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <select class="browser-default" name="id_categorie">
                    <option value="" disabled selected>Choose categorie</option>
                    {% for categorie in categories %}
                        <option value="{{ categorie.id }}">{{ categorie.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-field col s6">
                <select class="browser-default" name="id_provenance">
                    <option value="" disabled selected>Choose provenance</option>
                    {% for provenance in provenances %}
                        <option value="{{ provenance.id }}">{{ provenance.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-large">Save</button>
    </form>
</div>
</body>
</html>