<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Blog Home - Start Bootstrap Template</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    {#        <link href="css/styles.css" rel="stylesheet" />#}
    {% include 'requirements/css_requirment.html' %}
</head>
<body>
{% include 'nav.html' %}
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Blog From Madagascar</h1>
            <p class="lead mb-0">"My blog focuses on the products exported by Madagascar. Explore the diverse range of
                handicrafts, textiles, spices, vanilla, coffee, gemstones, and agricultural products that showcase the
                country's rich biodiversity and cultural heritage. Discover the captivating stories behind these unique
                products and their positive impact on local communities and the environment. Join me on this journey of
                exploration and appreciation for Madagascar's exports."</p>
        </div>
    </div>
</header>
{% set max_description = 500 %}
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            {% if produits %}
                {% set produit = produits[0] %}
                <div class="card mb-4">
                    <a href="{{ url_for('static', filename=produit.image) }}">
                        <img class="card-img-top"
                             src="{{ url_for('static', filename=produit.image) }}"
                             alt="{{ produit.name }}"/>
                    </a>
                    <div class="card-body">
                        <div class="small text-muted">{{ produit.date }}</div>
                        <h2 class="card-title">{{ produit.name }}</h2>
                        <p class="card-text">{{ produit.description.read()[:max_description] }}...</p>
                        {% if session["is_login"] == True %}
                            <a class="btn btn-danger" href="/delete_product/{{ produit.id }}">Delete</a>
                            <a class="btn btn-secondary" href="/update_product/{{ produit.id }}">Update</a>
                        {% else %}
                            <a class="btn btn-primary" href="/detail/{{ produit.id }}">Read more →</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-6">
                    {% for produit in produits[:0] %}
                        <div class="card mb-4">
                            <a href="{{ url_for('static', filename=produit.image) }}">
                                <img class="card-img-top"
                                     src="{{ url_for('static', filename=produit.image) }}"
                                     alt="{{ produit.name }}"/>
                            </a>
                            <div class="card-body">
                                <div class="small text-muted">{{ produit.date }}</div>
                                <h2 class="card-title">{{ produit.name }}</h2>
                                <p class="card-text">{{ produit.description.read()[:max_description] }}...</p>
                                {% if session["is_login"] == True %}
                                    <a class="btn btn-danger" href="/delete_product/{{ produit.id }}">Delete</a>
                                    <a class="btn btn-secondary" href="/update_product/{{ produit.id }}">Update</a>
                                {% else %}
                                    <a class="btn btn-primary" href="/detail/{{ produit.id }}">Read more →</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <form action="/search" method="post" class="input-group">
                        <input class="form-control" name="name" type="text" placeholder="Enter search term..."
                               aria-label="Enter search term..." aria-describedby="button-search"/>
                        <button class="btn btn-primary" id="button-search" type="submit">search</button>
                    </form>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="/">All</a></li>
                                <li><a href="/Artisanal">Artisanal</a></li>
                                <li><a href="/Fishing">Fishing</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="/Farming">Farming</a></li>
                                <li><a href="/Breeding">Breeding</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Explore Madagascar's Exports</div>
                <div class="card-body">
                    Discover unique handicrafts, textiles, spices, gemstones, and more.
                    Learn about their origins, cultural significance, and sustainable practices.
                    Get inspired by captivating stories and positive community impact.
                    Unlock the hidden treasures of Madagascar!
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
{% include 'requirements/js_requirement.html' %}
<!-- Core theme JS-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
